<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708740677078-87p4bd06cr3pbhh0mqmi3n0n9unmrv49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708740677078-87p4bd06cr3pbhh0mqmi3n0n9unmrv49</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>708740677078-od0tn5o9r481hgiqrs5crbkt73dn7pau.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQLwBPgok5BhbkZGPhyFF-u2xLJyzOtY8</string>
	<key>GCM_SENDER_ID</key>
	<string>708740677078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationBoat</string>
	<key>PROJECT_ID</key>
	<string>boatbooking-a2b5e</string>
	<key>STORAGE_BUCKET</key>
	<string>boatbooking-a2b5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708740677078:ios:41f441160feff852033877</string>
</dict>
</plist>